@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

/*Picture*/
.logo {
    background: url("../images/webDesign.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: 0.5s ease-in-out;
    -moz-transition: ease-in-out;
    -webkit-transition: ease-in-out;
}

/* Background clours used for the different elements*/

.bg-color-name-title {
    background-color: #676767;
}

.row-table {
    background-color: #676767;
}

.bg-colour-three-reasons {
    background-color: #fafafa;
}

.bg-color-conferences {
    background-color: #C71C03;
}

.ul-menu-color-home {
    background-color: #676767;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
}

.ul-menu-color-home:hover {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
    background-color: #ff9933;
}

.home-selected {
    background-color: #ff9933;
}

.home-color-bar {
    background-color: #ff9933;
}
    /*transition-duration: 0.5s;
    transition-timing-function: 0.5s;


.ul-menu-color-home:hover {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    background-color: #676767;
}*/

.ul-menu-color-resume {
    background-color: #676767;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
}

.ul-menu-color-resume:hover {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
    background-color: #cc33ff;
}

.resume-selected {
    background-color: #cc33ff;
}

.resume-color-bar {
    background-color: #cc33ff;
}

.ul-menu-color-contact {
    background-color: #676767 ;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
}

.ul-menu-color-contact:hover {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
    background-color: #29a6f4;
}

.contact-selected {
    background-color: #29a6f4;
}

.contact-color-bar {
    background-color: #29a6f4;
}

.ul-menu-color-download {
    background-color: #676767;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
}

.ul-menu-color-download:hover {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
    background-color: #b3cccc;
}

.bg-color-personal-info {
    background-color: #ff9933;
}

.bg-color-work-history {
    background-color: #cc33ff;
}

.bg-color-contact {
    background-color: #ffffff;
}

.ul-menu-color-github {
    background-color: #676767;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
}

.ul-menu-color-github:hover {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
    background-color: #191E4F;
}

.github-selected {
    background-color: #191E4F;
}

.github-color-bar {
    background-color: #191E4F;
}

.ul-menu-color-interests {
    background-color: #676767;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
}

.ul-menu-color-interests:hover {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
    background-color: #C71C03;
}

.interests-selected {
    background-color: #C71C03;
}

.interests-color-bar {
    background-color: #C71C03;
}

/*Special paddings margins text etc*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

.inline-block {
    display: inline-block;
    margin: 5px;
}

/*End of special styles area*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Exo', 'sans-serif';
    font-weight: 300;
    color: #fafafa;
    margin: 5px;
}

/*Title block area styles*/

.name {
    font-family: 'Exo', 'sans-serif';
    font-weight: 400;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.header-nav {
    min-height: 235px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.color-bar {
    height: 5px;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menu-item a i {
    padding-top: 20px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*Menu items in the specific selected pages*/

.home-selected i {
    padding-top: 20px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.home-selected span {
    color: #fff;
}

.resume-selected i {
    padding-top: 20px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.resume-selected span {
    color: #fff;
}

.contact-selected i {
    padding-top: 20px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.contact-selected span {
    color: #fff;
}

/*.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}*/

/*Section Styles*/

.row-table {
    display: table;
}

.section-heading {
    font-family: 'Exo', 'sans-serif';
    color: #fafafa;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-section-color {
    color: #676767;
}

/*Map rendering*/

div #map {
    min-height: 360px;
}

/*Footer area*/

footer {
    background-color: #676767;
    color: #fafafa;
    margin: 0;
    min-height: 240px;
}

#footer-details {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

footer .cv-dl i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

footer .cv-dl i:hover {
    color: #29a6f4;
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
    margin: 5px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    color: #fafafa;
    font-size: 13px;
    line-height: 7px;
    background-color: /*#525252*/#676767;
    transition: 0.35s ease-in-out;
    text-align: center;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.social-links li a i:hover {
    transform: background-color;
    transition: 0.35s ease-in-out;
    background-color: #29a6f4;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

/*Three reasons section*/

.three-reasons-icon {
    font-size: 26px;
    color: #29a6f4;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/*Personal info*/

.personal-info-item {
    margin-bottom: 20px;
    color: #fafafa;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
}

/*Skills*/

.progress {
    position: relative;
    height: 25px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 40px;
}

/*Work History*/

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Exo', 'sans-serif';
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-heading {
    color: #fafafa;
    margin-bottom: 30px;
}

.history-items {
    margin-bottom: 30px;
}

/*Contact Styles*/

.contact-heading {
    font-family: 'Exo', 'sans-serif';
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.box-item {
    margin-bottom: 15px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #29a6f4;
    border-color: #29a6f4;
    color: #fafafa;
    transition-property: background-color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
}

button[type="submit"]:hover {
    transition-property: background-color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.35s;
    background-color: #676767;
    border-color: #676767;
}

/*Media Queries*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }
    
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}